node_modules
dist
.DS_Store
*.local
src-tauri/target
src-tauri/gen
.vscode
.idea
.vercel
.update-v1
.update-v2.2-import
.update-v3.1-import

*.tsbuildinfo
_tmp_*
pnpm-workspace.yaml.*
vite.config.js
vite.config.d.ts
