@charset "utf-8";
/* CSS Document */

@import url("style.css");



#body_trailer #main_column h1 {
	width:380px;
	height:80px;
	background:url(../imgs/title_trailer.gif) no-repeat 23px 20px;
	display:block;
}

#body_trailer #main_column  h1 span {
	width:380px;
	height:80px;
	visibility:hidden;
	display:block;
}




#content_headbox {
	margin:0px 10px 30px 10px;
	padding:5px 0px;
	border-bottom:1px solid #c2b9b1;
	zoom: 1;/*for IE 5.5-7*/ 
}

#content_headbox:after {
	content: ".";   
	clear: both;   
	display: block;   
	line-height: 0;   
	height: 0;   
	visibility: hidden;   
}

#content_headbox h2 {
	padding:3px 15px 0px 0px;
	float:left;
}


#content_bodybox {
	margin:10px 10px 0px 10px;
	padding:5px 0px;
}

#content_bodybox h3 {
	margin:0px 0px 10px 0px;
	padding:7px 10px;

	display:block;
	zoom: 1;/*for IE 5.5-7*/ 
	
}

#content_bodybox:after {
	content: ".";   
	clear: both;   
	display: block;   
	line-height: 0;   
	height: 0;   
	visibility: hidden;   
}


#content_bodybox .archivebox {
	width:685px;
	margin:0px 0px 0px 10px;
	display:block;
}


#content_bodybox .archivebox li {
	width:155px;
	margin:0px 15px 0px 0px;
	padding:0px 0px 15px 0px;
	display:block;
	float:left;
	font-size:12px;
	line-height:1.3em;
	position:relative;
}

#content_bodybox .archivebox li a {
	width:155px;
	margin:0px 0px 5px 0px;
	display:block;
}


#content_bodybox .archivebox .icon_new {
	width:38px;
	height:38px;
	background:url(../imgs/cate_icon_new.png) no-repeat 0 0;
	display:block;
	position:absolute;
	left: 21px;
	top: -12px;
}


#content_bodybox .archivebox .icon_new span {
	width:38px;
	height:38px;
	display:block;
	visibility:hidden;
}
















#content_bodybox .archivebox #mov_coll {
	width:155px;
	display:block;
}

#content_bodybox .archivebox #mov_coll a {
	width:155px;
	height:158px;
	display:block;
	background:url(../imgs/cate_trailer/thumb_coll.gif) no-repeat 0% 100%;
}

#content_bodybox .archivebox #mov_coll a:hover {
	width:155px;
	height:158px;
	display:block;
	background:url(../imgs/cate_trailer/thumb_coll.gif) no-repeat 0% 0%;
}

#content_bodybox .archivebox #mov_coll a span {
	width:155px;
	height:158px;
	display:block;
	visibility:hidden;
}








#content_bodybox .archivebox #mov_op {
	width:151px;
	display:block;
}

#content_bodybox .archivebox #mov_op a {
	width:151px;
	height:154px;
	display:block;
	background:url(../imgs/cate_trailer/thumb_op.gif) no-repeat 0% 100%;
}

#content_bodybox .archivebox #mov_op a:hover {
	width:151px;
	height:154px;
	display:block;
	background:url(../imgs/cate_trailer/thumb_op.gif) no-repeat 0% 0%;
}

#content_bodybox .archivebox #mov_op a span {
	width:151px;
	height:154px;
	display:block;
	visibility:hidden;
}








#content_bodybox .archivebox #mov_mh {
	width:161px;
	display:block;
}

#content_bodybox .archivebox #mov_mh a {
	width:161px;
	height:164px;
	display:block;
	background:url(../imgs/cate_trailer/thumb_mh.gif) no-repeat 0% 100%;
}

#content_bodybox .archivebox #mov_mh a:hover {
	width:161px;
	height:164px;
	display:block;
	background:url(../imgs/cate_trailer/thumb_mh.gif) no-repeat 0% 0%;
}

#content_bodybox .archivebox #mov_mh a span {
	width:161px;
	height:164px;
	display:block;
	visibility:hidden;
}







#content_bodybox .archivebox #mov_teo {
	width:155px;
	display:block;
}

#content_bodybox .archivebox #mov_teo a {
	width:155px;
	height:158px;
	display:block;
	background:url(../imgs/cate_trailer/thumb_teo.gif) no-repeat 0% 100%;
}

#content_bodybox .archivebox #mov_teo a:hover {
	width:155px;
	height:158px;
	display:block;
	background:url(../imgs/cate_trailer/thumb_teo.gif) no-repeat 0% 0%;
}

#content_bodybox .archivebox #mov_teo a span {
	width:155px;
	height:158px;
	display:block;
	visibility:hidden;
}

























#content_bodybox .archivebox #mov_as {
	width:151px;
	display:block;
}

#content_bodybox .archivebox #mov_as a {
	width:151px;
	height:154px;
	display:block;
	background:url(../imgs/cate_trailer/thumb_as.gif) no-repeat 0% 100%;
}

#content_bodybox .archivebox #mov_as a:hover {
	width:151px;
	height:154px;
	display:block;
	background:url(../imgs/cate_trailer/thumb_as.gif) no-repeat 0% 0%;
}

#content_bodybox .archivebox #mov_as a span {
	width:151px;
	height:154px;
	display:block;
	visibility:hidden;
}







#content_bodybox .archivebox #mov_od {
	width:155px;
	display:block;
}

#content_bodybox .archivebox #mov_od a {
	width:155px;
	height:158px;
	display:block;
	background:url(../imgs/cate_trailer/thumb_od.gif) no-repeat 0% 100%;
}

#content_bodybox .archivebox #mov_od a:hover {
	width:155px;
	height:158px;
	display:block;
	background:url(../imgs/cate_trailer/thumb_od.gif) no-repeat 0% 0%;
}

#content_bodybox .archivebox #mov_od a span {
	width:155px;
	height:158px;
	display:block;
	visibility:hidden;
}










#content_bodybox .archivebox #mov_single {
	width:155px;
	display:block;
}

#content_bodybox .archivebox #mov_single a {
	width:155px;
	height:158px;
	display:block;
	background:url(../imgs/cate_trailer/thumb_single.gif) no-repeat 0% 100%;
}

#content_bodybox .archivebox #mov_single a:hover {
	width:155px;
	height:158px;
	display:block;
	background:url(../imgs/cate_trailer/thumb_single.gif) no-repeat 0% 0%;
}

#content_bodybox .archivebox #mov_single a span {
	width:155px;
	height:158px;
	display:block;
	visibility:hidden;
}



#content_bodybox .archivebox #mov_coop2 {
	width:155px;
	display:block;
}

#content_bodybox .archivebox #mov_coop2 a {
	width:155px;
	height:158px;
	display:block;
	background:url(../imgs/cate_trailer/thumb_coop02.gif) no-repeat 0% 100%;
}

#content_bodybox .archivebox #mov_coop2 a:hover {
	width:155px;
	height:158px;
	display:block;
	background:url(../imgs/cate_trailer/thumb_coop02.gif) no-repeat 0% 0%;
}

#content_bodybox .archivebox #mov_coop2 a span {
	width:155px;
	height:158px;
	display:block;
	visibility:hidden;
}







#content_bodybox .archivebox #mov_coop1 {
	width:151px;
	display:block;
}

#content_bodybox .archivebox #mov_coop1 a {
	width:151px;
	height:154px;
	display:block;
	background:url(../imgs/cate_trailer/thumb_coop01.gif) no-repeat 0% 100%;
}

#content_bodybox .archivebox #mov_coop1 a:hover {
	width:151px;
	height:154px;
	display:block;
	background:url(../imgs/cate_trailer/thumb_coop01.gif) no-repeat 0% 0%;
}

#content_bodybox .archivebox #mov_coop1 a span {
	width:151px;
	height:154px;
	display:block;
	visibility:hidden;
}









#content_bodybox .archivebox #mov_tgs {
	width:155px;
	display:block;
}

#content_bodybox .archivebox #mov_tgs a {
	width:155px;
	height:158px;
	display:block;
	background:url(../imgs/cate_trailer/thumb_tgs.gif) no-repeat 0% 100%;
}

#content_bodybox .archivebox #mov_tgs a:hover {
	width:155px;
	height:158px;
	display:block;
	background:url(../imgs/cate_trailer/thumb_tgs.gif) no-repeat 0% 0%;
}

#content_bodybox .archivebox #mov_tgs a span {
	width:155px;
	height:158px;
	display:block;
	visibility:hidden;
}




#content_bodybox .archivebox #mov_opm01 {
	width:151px;
	margin:6px 15px 0px 0px;
	display:block;
}

#content_bodybox .archivebox #mov_opm01 a {
	width:151px;
	height:154px;
	display:block;
	background:url(../imgs/cate_trailer/thumb_opm_01.gif) no-repeat 0% 100%;
}

#content_bodybox .archivebox #mov_opm01 a:hover {
	width:151px;
	height:154px;
	display:block;
	background:url(../imgs/cate_trailer/thumb_opm_01.gif) no-repeat 0% 0%;
}

#content_bodybox .archivebox #mov_opm01 a span {
	width:151px;
	height:154px;
	display:block;
	visibility:hidden;
}





#content_bodybox .archivebox #mov_opm02 {
	width:161px;
	display:block;
}

#content_bodybox .archivebox #mov_opm02 a {
	width:161px;
	height:164px;
	display:block;
	background:url(../imgs/cate_trailer/thumb_opm_02.gif) no-repeat 0% 100%;
}

#content_bodybox .archivebox #mov_opm02 a:hover {
	width:161px;
	height:164px;
	display:block;
	background:url(../imgs/cate_trailer/thumb_opm_02.gif) no-repeat 0% 0%;
}

#content_bodybox .archivebox #mov_opm02 a span {
	width:161px;
	height:164px;
	display:block;
	visibility:hidden;
}




#content_bodybox .archivebox #mov_e3 {
	width:155px;
	display:block;
}

#content_bodybox .archivebox #mov_e3 a {
	width:155px;
	height:158px;
	display:block;
	background:url(../imgs/cate_trailer/thumb_e3.gif) no-repeat 0% 100%;
}

#content_bodybox .archivebox #mov_e3 a:hover {
	width:155px;
	height:158px;
	display:block;
	background:url(../imgs/cate_trailer/thumb_e3.gif) no-repeat 0% 0%;
}

#content_bodybox .archivebox #mov_e3 a span {
	width:155px;
	height:158px;
	display:block;
	visibility:hidden;
}





#content_bodybox .archivebox #mov_gc {
	width:151px;
	display:block;
}

#content_bodybox .archivebox #mov_gc a {
	width:151px;
	height:154px;
	display:block;
	background:url(../imgs/cate_trailer/thumb_gc.gif) no-repeat 0% 100%;
}

#content_bodybox .archivebox #mov_gc a:hover {
	width:151px;
	height:154px;
	display:block;
	background:url(../imgs/cate_trailer/thumb_gc.gif) no-repeat 0% 0%;
}

#content_bodybox .archivebox #mov_gc a span {
	width:151px;
	height:154px;
	display:block;
	visibility:hidden;
}





#content_bodybox .archivebox #mov_gcs {
	width:151px;
	display:block;
}

#content_bodybox .archivebox #mov_gcs a {
	width:151px;
	height:154px;
	display:block;
	background:url(../imgs/cate_trailer/thumb_gc.gif) no-repeat 0% 100%;
}

#content_bodybox .archivebox #mov_gcs a:hover {
	width:151px;
	height:154px;
	display:block;
	background:url(../imgs/cate_trailer/thumb_gc.gif) no-repeat 0% 0%;
}

#content_bodybox .archivebox #mov_gcs a span {
	width:151px;
	height:154px;
	display:block;
	visibility:hidden;
}
